body {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
}
.head{
    background-color: rgba(224, 237, 245, 1);
}
.header{
    display: flex;
    width: 1100px;
    height: 44px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
     
}
.sub-header1,
.sub-header2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  color: #0065fe;
}

.scimg{
    display: flex;
    align-items: center;
    
}
nav {
    display: flex;
    flex: 3 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  nav li a {
    font-size: 18px;
  }
  
  nav li select {
    font-size: 16px;
  }
  
  nav li {
    list-style-type: none;
  }
  
  nav li a,
  select {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  select {
    background-color: rgba(210, 192, 221, 0.001);
    border: 0px;
    outline: 0px;
  }
  .first-link a {
    color: #0065fe;
  }
  
  .sub-header2 button {
    background-color: #0065fe;
    color: white;
    border-radius: 18px;
    border: 1px solid #0065fe;
    padding: 10px 30px;
    cursor: pointer;
  }

.first{
    display:flex;
    align-items: center;
    width:100%;
    height: 600px;
    margin: auto;
    justify-content:space-around;
    margin-top: -36px;
    background-color:rgba(224, 237, 245, 1);
}
.etc{
    position: relative;
    margin-top: 33px;
}
.tee{
    position: absolute;
    top:79%;
}
.tee img{
    
    height: 123px;
    filter: brightness(100%);
}

.elite p{
font-size: 13px;
margin-top:-4%;
}
.elite h1{
    font-size: 50px;
}
.first img{
    flex:0 50%;
    max-width:32%;
    height:auto;
    margin-bottom: 11%;
    display: block;
}

.elite{
    margin-left: 6%;
    margin-bottom: 8%;
}
.shop{
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 43px;
    padding-right: 43px;
    font-size: 9px;
}
.collection{
    margin-top: 5%;
    display: block;
    align-items: center;
   
}
.coll{
   text-align: center;
   
}

.females{
    margin-left:26%;
    position: absolute;
    display: flex;

}
.fem{
    display: block;
    margin: -4.4%;
}
.fe{
    width:70%;
    margin-top: 16%;
}
.jacks{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     bottom: 0%;
     right: 13%;
     bottom: 62px;  
}
.fem button{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 12px;
    font-weight:bolder;
    border: 0.8px solid white;
    background-color: white;
    display: block
}
.best{
    margin-top: 35%;
    align-items: center;
    margin-left: 25%;
    display: flex;
}
.fe4{
    width: 44%;
    display: inline; 
}
.besty{
    position: absolute;
    margin-right: 40px;
    display: inline; 
}

.bestie{
    margin-left: 38.9%;
    margin-bottom: 12%;
}
.bestie h1{
    font-size:  45px;
}
.bestie p{
    margin-top: -20px;
}
.rec{
    width: 120px;
    position: relative;
    left: -50%;
    top: 50px;
}
.rect{
    width: 90px;
    position: relative;
    bottom:297px;
    right: 25%;
}
.seller{
    margin-top:12%;
    background-color: black;
    width: auto;
    color: white;
    display: flex;
    height: 700px;
    justify-content: space-between;
}
.bst{
    margin-left: 14%;
    padding-top: 3%;
}
.bst p{
    font-size: 12px;
    line-height: 1.6;

}
.see{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:black;
    color: white;
    border: 0.8px solid white;
    font-size: 10px;
    margin-top: 50px;
    font-weight: bold;
}

.sect img{
    width: 300px;
    margin-top: 20%; 
}
.sectchi{
    background-color: white;
    color: rgb(34, 15, 15);
    height:23% ;
    padding-left: 20px;
}
.sectt{
    filter: brightness(60%);
}
.sectt img{
width: 120px;
margin-top: 60px;
height: 281px;
}
.sectchi{
    margin-top: -20px;
}
.sectchi img{
    margin-top: 30px;
    width:90px;
}
.ind{
    font-size: 12px;
    font-weight:bold;
}
span{
    color: grey;
}
.sectcho{
    height: 21.4%;
    margin-top: -11px;
    background-color: white;
    color: black;
    padding-left: 12px;
}
.sectcho img{
    width:34px;
    height: 20px;
    margin-top: 20px;
}
.sectcho p{
    margin-bottom: 2px;
}
.indy{
    font-size: 12px;
    font-weight:bold;
    margin-top: 20.2px;
}
.strs{
    height: 30px;
    width: 50%;
}
.strs img{
    width: 90px;
    height: 14px;
}
.products{
    padding-top: 50px;
}
.prod{
   text-align: center;
}
.navbar2 {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar2 a{
    color: black;
    font-size: 13px;

    font-weight: 500;
    margin: 0px 20px;
    text-decoration: none;
}
.products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1%;
    margin-left: 13%;
}

.products-grid img{
    width:190px;
    margin-top: 60px;
}
.product-dets{
    margin-top: -35px;
    margin-left: 45px;
}
.product-dets img{
    width: 69px;
}
.deal{
    margin-top: 60px;
    background-color:rgba(224, 237, 245, 1);
    ;
    width: 1030px;
    margin-left:13%;
    margin-top: 11%;
    height: 480px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}
.ent{
   padding-top:20px ;
   padding-left: 2%;
   width:480px;

   height: 370px;  
   text-align: start;
}

.ent h1{
    font-size: 40px;
}

.count{
    display: flex;
    justify-content:space-evenly; 

}
.four{
    background-color: white;
    font-size: 17px;
    padding-left: 22px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 50px;
    display: inline-block;
    
    
}.four p{
    margin-top: -26px;
}
.shop{
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 43px;
    padding-right: 43px;
    font-size: 9px;
    margin-top: 23px;
    margin-left: 4px;
    
}
.fe16{
    width: 406px;
    margin-right: 50px;
}
.reviews{
    margin-top: 8%;
}
.about{
   text-align: center;
}
.customers{
    margin-top: 5%;
    display: grid;
    font-size: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.custome, .cust, .customer{
    background-color: rgba(224, 237, 245, 1);
    text-align:center
}
.jerry{
    
}
.jerryhead{
    font-weight:680;
    padding-bottom: 20px;
    font-size: 14px;
}
.foot{
    margin-top: 10%;
    background-color: rgb(15, 14, 14); 
    padding: 70px 0;
   
}
ul{
    list-style: none;
}
.cont{
    max-width: 1220px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    display: inline-block;
}
.footer-col h4{
    font-size: 18px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(236, 236, 236);
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}
.footer-col ul:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    margin:11px ;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(97, 12, 12);
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover{
    color: rgba(90, 89, 45, 0.103);
    background-color: #ebe2e2 ;
}


    @media (max-width: 600px) {
        nav{
           flex-direction: ;
           
            
            
        }
        .sub-header2{
            flex-direction: column;
        }
        .navbar{
            flex-direction: column;
        }
        .navbar2{
            text-align: center;
            flex-direction:column ;
        }
       .females{
        flex-direction: column;
       }
       .bestie{
        margin-top: 80%;
       }
       .best{
        margin-top: 190%;
        margin-right: -50px;
       }
       .rect{
        width: 100px;
        position: relative;
        right: 10%;
        top: 10px;
       }
       .seller{
        flex-direction: column;
    
        height: 1650px;
 
       }
      
       .sect, .sectt{

        padding-left: 80px;
       }
       
       .sectchi{
        width: 160px;
        height: 110px;
       }
       .sect img{
        width: 180px;
       }
       .sectt img{
        width: 180px;
       }
       .sectt{
        margin-bottom: 40px;
       }
       .strs img{
        width: 80px;
        padding-left: 4px;
       }
       
       .sectchi img{
        width: 80px;
       }
       
       .sectcho{
        width: 170px;
        height: 110px;

       }
       .deal{
        
       }
       .reviews{
        padding-left: 50px;
       }
       .products-grid{
        grid-template-columns: 1fr ;
        padding-left: 50px;
    
       }
       .customers, .customer{
        grid-template-columns: 1fr;
        row-gap: 20px;
       }
       .foot{
       width: 440px;
       
       }
      }